@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Geomanist;
}

.faq.active .ans {
  @apply max-h-[300px];
}

.navlist.active {
  @apply right-0;
}

@layer utilities {
  .border-gradient {
    border-image: linear-gradient(120deg, #fa1d8f, #8250a3, #2f57aa, #175ead);
    border-image-slice: 1;
  }
}
@keyframes expandWidth {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  75% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@layer utilities {
  .animate-expand-width {
    animation: expandWidth 2s ease-in-out infinite;
  }
}

.custom-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1); /* For Firefox */

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
